.wrapper .design {
    padding: 30px 10px 10px;
    min-height: 600px;
    border: 1px solid #eeeff8;
    border-radius: 4px;
    position: relative;
}

.wrapper .design:after {
    background-color: #F5F5F5;
    border: 1px solid #eeeff8;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "表单容器";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.design-item {
    min-height: 40px;
}

.selected {
    border: 1px solid #3B97E3 !important;
    /* -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2); */
}

a:hover {
    color: black !important;
}

nav li a {
    color: black !important;
    background-color: #eee;
}