<div class="modal-body no-p">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5"><i class="icon"></i> 配置详情</a>
                        <small>ID - $!biDatabase.id</small>
                    </div>
                </header>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>数据库名称</td>
                        <td>$!biDatabase.name</td>
                    </tr>
                    <tr>
                        <td>数据库类型</td>
                        <td>$!biDatabase.type</td>
                    </tr>
                    <tr>
                        <td>数据库驱动</td>
                        <td>$!biDatabase.driver</td>
                    </tr>
                    <tr>
                        <td>主机地址</td>
                        <td>$!biDatabase.host</td>
                    </tr>
                    <tr>
                        <td>端口</td>
                        <td>$!biDatabase.port</td>
                    </tr>
                    <tr>
                        <td>数据库名</td>
                        <td>$!biDatabase.dbName</td>
                    </tr>
                    <tr>
                        <td>数据库连接</td>
                        <td>$!biDatabase.url</td>
                    </tr>
                    <tr>
                        <td>数据库用户名</td>
                        <td>$!biDatabase.username</td>
                    </tr>
                    <tr>
                        <td>数据库密码</td>
                        <td>******</td>
                    </tr>
                    <tr>
                        <td>调用次数</td>
                        <td>$!biDatabase.invokes</td>
                    </tr>
                    <tr>
                        <td>创建人</td>
                        <td>$!biDatabase.createUser</td>
                    </tr>
                    <tr>
                        <td>创建时间</td>
                        <td>$!biDatabase.createTime</td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>