<!DOCTYPE html>
<html class="no-js" lang="zh_CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>${system_admin_title}</title>#required_css
</head>

<body>#loading

<div class="app $!layout">
    <!-- 头部菜单 -->
    #header
    <section class="layout">
        <!-- 菜单 -->
        #sidebar
        <!-- 内容主体 -->
        <section class="container">
            <section class="main-content">
                <!-- 主体操作栏 -->
                <header class="header navbar">
                    <!-- 左按钮区 -->
                    <div class="btn-group tool-button">
                        <a href="$!basePath/bi/form/v2/design/table" class="btn btn-primary navbar-btn" target="_blank"><i
                                class="ti-plus"></i> 新建表单</a>
                    </div>
                    <!-- 右按钮区 -->
                    <div class="btn-group pull-right"></div>
                </header>
                <div class="content-wrap">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 table-responsive">
                                <table id="dgForm2"></table>
                                <div id="dgForm2Pager"></div>
                            </div>
                        </div>
                    </div>
                    <a class="exit-offscreen"></a>
                </div>
            </section>
        </section>
    </section>
</div>
#required_js
<!-- 页面组件 -->

<!-- 本页面脚本 -->
<script type="text/javascript" src="$!basePath/framework/js/view/toast.js"></script>
<script type="text/javascript">
    ns.requireJS([
        "/framework/js/form/checkbox.js",
        "/framework/js/view/datagrid.js",
        "/framework/js/form/search.form.js"]);
    function doDelete(id) {
        ns.confirm("已绑定流程的表单删除后会影响流程，确定删除吗？", function () {
            ns.post("$!basePath/bi/form/v2/delete/" + id, {}, function (success, data) {
                if (success) {
                    ns.tip.toast.success("删除成功!");
                    ns.back("$!basePath/bi/form/v2", 1000);
                } else {
                    ns.tip.toast.error(data.message);
                }
            });
        });
    }
    var dgForm2;
    ns.ready(function () {
        dgForm2 = $("#dgForm2").jqGrid({
            url: '$!basePath/bi/form/v2/data',
            colModel: [
                {label: 'ID', name: 'id', key: true, hidden: true, align: "left"},
                {label: '表单名称', name: 'name', width: 300},
                {label: '创建人', name: 'createUser', width: 100},
                {label: '创建时间', name: 'createTime', width: 100},
                {
                    label: '操作', width: 50, formatter: function (val, node, data) {
                    return ns.view.datagrid.renderOp([
                        {
                            title: "复制ID", onclick: function () {
                            ns.data.copy(data.id);
                        }
                        },
                        {
                            title: "删除", onclick: function () {
                            doDelete(data.id);
                        }
                        },
                        {title: "设计表单", url: "$!basePath/bi/form/v2/design/edit/" + data.id, target: "_blank"},
                        {title: "预览表单", url: "$!basePath/bi/form/v2/design/preview/" + data.id, target: "_blank"},
                        {divider: true},
                        {title: "查询表单数据", url: "$!basePath/bi/form/v2/datalist/" + data.id, target: "_blank"},
                        {title: "管理数据字段", url: "$!basePath/bi/form/v2/column/" + data.id, target: "_blank"}
                    ]);
                }
                }
            ],
            height: $(".main-content .wrapper").height() - ns.view.datagrid.offsetHeight,
            pager: "#dgForm2Pager",
            rownumbers:true,
            sortname : "createTime",
            sortorder : "desc",
//            searchForm : "#searchForm",
        });
    });
</script>
#loading_close
</body>
</html>