<!DOCTYPE html>
<html class="no-js" lang="zh_CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>${system_admin_title}</title>
    #required_css
</head>
<body>
#loading
<div class="app $!layout">
    <!-- 头部菜单 -->
    #header
    <section class="layout">
        <!-- 菜单 -->
        #sidebar
        <!-- 内容主体 -->
        <section class="container">
            <section class="main-content">
                <!-- 主体操作栏 -->
                <header class="header navbar">
                    <!-- 左按钮区 -->
                    <div class="btn-group tool-button">
                        <div class="btn-group navbar-btn">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="ti-plus"></i>
                                #i18n('system.common.add')数据源 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="$!basePath/bi/datasource/add" data-tabs-link>添加数据源</a></li>
                                <li><a href="$!basePath/bi/datasource/virtual/add" data-tabs-link>添加虚拟数据源</a></li>
                            </ul>
                        </div>
                        <a href="$!basePath/bi/database" class="btn btn-primary navbar-btn" data-tabs-link><i class="ti-server"></i> 外部数据库管理</a>
                    </div>
                    <div class="pull-right offscreen-right">
                    </div>
                </header>
                <div class="content-wrap">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 table-responsive">
                                <table id="dgDataSource"></table>
                                <div id="dgDataSourcePager"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="exit-offscreen"></a>
            </section>
        </section>
    </section>
</div>
#required_js
<!-- 页面组件脚本 -->

<!-- 本页面脚本 -->
<script src="$!basePath/framework/js/view/toast.js"></script>
<script type="text/javascript">
    ns.requireJS([
        "/framework/js/form/checkbox.js",
        "/framework/js/view/datagrid.js",
        "/framework/js/form/search.form.js"]);
    function doDelete(id) {
        ns.tip.confirm("确定删除吗？", function () {
            ns.post("$!basePath/bi/datasource/delete/" + id, {}, function (success, data) {
                if (success) {
                    dgDataSource.reload();
                } else {
                    ns.tip.toast.error(data.message);
                }
            });
        });
    }
    var dgDataSource;
    ns.ready(function () {
        dgDataSource = $("#dgDataSource").jqGrid({
            url: '$!basePath/bi/datasource/data',
            colModel: [
                {label: 'ID', name: 'id', key: true, hidden: true, align: "left"},
                {label: '数据源名称', name: 'name', width: 300},
                {
                    label: '标签', name: 'db', width: 50, formatter: function (val, op, rowData) {
                    var html = "";
                    if(val == "local"){
                        html += "<a href=\"javascript:;\" onclick=\"ns.view.showModal('$!basePath/bi/database/detail/"+val+"')\"><span class=\"label bg-primary\">外部</span></a>"
                    }else{
                        html += "<span class=\"label bg-primary\">本地</span>";
                    }
                    if(rowData.virtuald){
                        html += "&nbsp;<span class=\"label bg-primary\">虚拟</span>";
                    }
                    return html;
                }
                },
                {label: '查看数据', name: 'id', width: 100, formatter:function(val){
                    var html = "";
                    html += "<a class=\"text-primary text-underline\" href=\"$!basePath/bi/datasource/view/html/"+val+"\" target=\"_blank\">HTML</a>";
                    html += "&nbsp;<a class=\"text-primary text-underline\" href=\"$!basePath/bi/datasource/view/json/"+val+"\" target=\"_blank\">JSON</a>";
                    html += "&nbsp;<a class=\"text-primary text-underline\" href=\"$!basePath/bi/datasource/view/xml/"+val+"\" target=\"_blank\">XML</a>";
                    return html;
                }},
                {label: '创建时间', name: 'createTime', width: 100},
                {
                    label: '操作', width: 50, formatter: function (val, node, data) {
                    return ns.view.datagrid.renderOp([
                        {
                            title: "查看详情", onclick: function () {
                            ns.view.showModal("$!basePath/bi/datasource/detail/" + data.id);
                        }
                        },
                        {divider: true},
                        {
                            title: "删除", onclick: function () {
                            doDelete(data.id);
                        }
                        }
                    ]);
                }
                }
            ],
            height: $(".main-content .wrapper").height() - ns.view.datagrid.offsetHeight,
            pager: "#dgDataSourcePager",
            rownumbers:true,
//            searchForm : "#searchForm",
        });
    });
</script>
#loading_close
</body>
</html>
