<!DOCTYPE html>
<html class="no-js" lang="zh_CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>${system_admin_title}</title>
    #required_css
</head>

<body>#loading

<div class="app $!layout">
    <section class="layout">
        <!-- 内容主体 -->
        <section class="container">
            <section class="main-content">
                <!-- 主体操作栏 -->
                <header class="header navbar">
                    <!-- 左按钮区 -->
                    <div class="btn-group tool-button">
                        <a class="btn btn-primary navbar-btn" href="$!basePath/bi/table"><i class="ti-angle-left"></i>
                            Back</a>
                    </div>
                </header>
                <div class="content-wrap">
                    <div class="wrapper">
                        <section class="panel pt20">
                            <form id="tableAddForm" role="form" class="form-horizontal parsley-form"
                                  data-parsley-validate action="$!basePath/bi/table/create/do" method="post">
                                <input type="hidden" name="columns"/>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="name"
                                                       data-parsley-required="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Schema</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="schema"
                                                       readonly="readonly" value="$!schema">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Catalog</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="catalog"
                                                       readonly="readonly" value="$!catalog">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-1 control-label">Description</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="description">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                        <section class="panel">
                            <div class="row p15">
                                <section class="panel">
                                    <div class="panel-heading">
                                        <b>Columns</b>
                                    </div>
                                    <div class="panel-body">
                                        <table id="columns" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th class="col-lg-2">Field Name</th>
                                                <th class="col-lg-2">DataType</th>
                                                <th class="col-lg-1">Length</th>
                                                <th>Default</th>
                                                <th>PK?</th>
                                                <th>Not Null?</th>
                                                <th>Auto Incr?</th>
                                                <th class="col-lg-2">Comment</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" name="column.name"
                                                           data-parsley-required="true"/>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="columnType"
                                                            onchange="changeType(this)">
                                                        #foreach($!obj in $!columnTypes)
                                                        #if(!$!obj.name.startsWith("_"))
                                                        <option value="$!obj.name">$!obj.name</option>
                                                        #end
                                                        #end
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="columnSize"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="columnDefault"/>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;"><input
                                                        class="icheck" type="checkbox" name="columnPk"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input
                                                        class="icheck" type="checkbox" name="columnNotNull"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input
                                                        class="icheck" type="checkbox" name="columnAutoIncr"
                                                        disabled="disabled"/></td>
                                                <td>
                                                    <input type="text" class="form-control" name="columnComment"/>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default" type="button"
                                                            onclick="removeColumn(this)"><i class="fa fa-close"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <!-- 自动添加的字段 -->
                                            <!--<tr class="hide">
                                                <td>
                                                    <input type="text" class="form-control" name="column.name" data-parsley-required="true" value="createUser"/>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="columnType">
                                                        <option value="VARCHAR">VARCHAR</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="columnSize" value="50"/></td>
                                                <td><input type="text" class="form-control" name="columnDefault"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnPk" /></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnNotNull" checked="checked"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnAutoIncr" /></td>
                                                <td><input type="text" class="form-control" name="columnComment" value="创建人"/></td>
                                                <td></td>
                                            </tr>
                                            <tr class="hide">
                                                <td>
                                                    <input type="text" class="form-control" name="column.name" data-parsley-required="true" value="createTime"/>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="columnType">
                                                        <option value="VARCHAR">VARCHAR</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="columnSize" value="20"/></td>
                                                <td><input type="text" class="form-control" name="columnDefault"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnPk" /></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnNotNull" checked="checked"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnAutoIncr" /></td>
                                                <td><input type="text" class="form-control" name="columnComment" value="创建时间"/></td>
                                                <td></td>
                                            </tr>
                                            <tr class="hide">
                                                <td>
                                                    <input type="text" class="form-control" name="column.name" data-parsley-required="true" value="lastModifyTime"/>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="columnType">
                                                        <option value="VARCHAR">VARCHAR</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="columnSize" value="20"/></td>
                                                <td><input type="text" class="form-control" name="columnDefault"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnPk" /></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnNotNull"/></td>
                                                <td class="text-center" style="vertical-align: middle;"><input class="icheck" type="checkbox" name="columnAutoIncr" /></td>
                                                <td><input type="text" class="form-control" name="columnComment" value="最后修改时间"/></td>
                                                <td></td>
                                            </tr>-->
                                            </tbody>
                                        </table>
                                        <div class="pull-left">
                                            <button type="button" class="btn btn-default" onclick="addColumn()"><i
                                                    class="fa fa-plus"></i> Add Column
                                            </button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text-center">
                                    <label></label>
                                    <div>
                                        <button class="btn btn-primary btn-block btn-lg btn-parsley" type="button"
                                                onclick="getColumns()" data-loading-text="Submit...">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <a class="exit-offscreen"></a>
            </section>
        </section>
    </section>
</div>
#required_js

<!-- 本页面脚本 -->
<script src="$!basePath/framework/js/form/form.js"></script>
<script src="$!basePath/framework/js/view/toast.js"></script>
<script src="$!basePath/framework/js/form/validator.js"></script>

<script type="text/javascript">
    var template;
    function addColumn() {
        $("#columns>tbody").append(template.clone());
    }
    function removeColumn(obj) {
        $(obj).parents("tr").remove();
    }
    function getColumns() {
        var trs = $("#columns>tbody>tr");
        var data = [];
        trs.each(function (i, tr) {
            tr = $(tr);
            var obj = {};
            obj.name = tr.find("td:eq(0)>input").val();
            obj.type = tr.find("td:eq(1)>select").val();
            obj.size = tr.find("td:eq(2)>input").val();
            obj.def = tr.find("td:eq(3)>input").val();
            obj.pk = tr.find("td:eq(4)>input").is(":checked");
            obj.notNull = tr.find("td:eq(5)>input").is(":checked");
            obj.autoIncr = tr.find("td:eq(6)>input").is(":checked");
            obj.comment = tr.find("td:eq(7)>input").val();

            data.push(JSON.stringify(obj));
        });
        $("#tableAddForm>input[name='columns']").val(data.toString());
        $('#tableAddForm').submit();
    }
    function changeType(obj) {
        if (obj.value == "BIGINT" || obj.value == "DOUBLE" || obj.value == "FLOAT" || obj.value == "INTEGER" || obj.value == "NUMERIC" || obj.value == "DECIMAL") {
            $(obj).parents("tr").find("input[name='columnAutoIncr']").removeAttr("disabled");
        } else {
            $(obj).parents("tr").find("input[name='columnAutoIncr']").attr("disabled", "disabled");
            $(obj).parents("tr").find("input[name='columnAutoIncr']").prop("checked", false);
        }
    }
    $(function () {
        $('#tableAddForm').ajaxForm({
            beforeSubmit: function (arr, $form, options) {
                $form.find(".btn-parsley").button("loading");
            },
            success: function (data, statusText, xhr, $form) {
                if (data.success == true) {
                    Toast.success("Create Success!");
                } else {
                    Toast.error(data.message);
                }
                $form.find(".btn-parsley").button("reset");
            }
        });
        template = $("#columns>tbody>tr:first").clone();
    });

</script>

#loading_close
</body>
</html>
